<div style="width: 95%">
#{if _openebayrequest}

<h2>Open eBay Request</h2>

<table class="condensed-table zebra-striped" style="table-layout: fixed">
<thead>
	<tr><th class="span3">Name</th><th style="word-wrap:break-word">Value</th></tr>
</thead>
<tbody>
	<tr><td>mid</td><td style="word-wrap:break-word">${_openebayrequest.mid}</td></tr>
	<tr><td>lang</td><td style="word-wrap:break-word">${_openebayrequest.lang}</td></tr>
	<tr><td>country</td><td style="word-wrap:break-word">${_openebayrequest.country}</td></tr>
	<tr><td>view</td><td style="word-wrap:break-word">${_openebayrequest.view}</td></tr>
	<tr><td>up_dd</td><td style="word-wrap:break-word">${_openebayrequest.up_dd}</td></tr>
	<tr><td>parent</td><td style="word-wrap:break-word">${_openebayrequest.parent}</td></tr>
	<tr><td>rpctoken</td><td style="word-wrap:break-word">${_openebayrequest.rpctoken}</td></tr>
	<tr><td>env</td><td style="word-wrap:break-word">${_openebayrequest.env}</td></tr>
	<tr><td>globalid</td><td style="word-wrap:break-word">${_openebayrequest.globalid}</td></tr>
	<tr><td>ted</td><td style="word-wrap:break-word">${_openebayrequest.ted}</td></tr>
	<tr><td>at</td><td style="word-wrap:break-word">${_openebayrequest.at}</td></tr>
	<tr><td>un</td><td style="word-wrap:break-word">${_openebayrequest.un}</td></tr>
	<tr><td>es</td><td style="word-wrap:break-word">${_openebayrequest.es}</td></tr>
	<tr><td>t</td><td style="word-wrap:break-word">${_openebayrequest.t}</td></tr>
	<tr><td>sp</td><td style="word-wrap:break-word">${_openebayrequest.sp}</td></tr>
	<tr><td>st</td><td style="word-wrap:break-word">${_openebayrequest.st}</td></tr>
	<tr><td>sg</td><td style="word-wrap:break-word">${_openebayrequest.sg}</td></tr>
	<tr><td>sig</td><td style="word-wrap:break-word">${_openebayrequest.sig}</td></tr>
	<tr><td>is</td><td style="word-wrap:break-word">${_openebayrequest.is}</td></tr>
	<tr><td style="word-wrap:break-word">valideBaySignature</td><td style="word-wrap:break-word">${_openebayrequest.valideBaySignature}</td></tr>
	<tr><td style="word-wrap:break-word">openeBayHeaderString</td><td style="word-wrap:break-word">${_openebayrequest.openeBayHeaderString}</td></tr>
</tbody>
</table>

#{/if}

#{else}
<h2>Open eBay request not found</h2>
#{/else}

</div>