#{extends 'openebay/basecanvasview.html' /}

<h1>Sample Canvas View</h1>

#{if flash.error}
			<div class="alert-message error fade in" data-alert="alert">
			  <a  class="close" href="#">x</a>
			  <p>${flash.error}</p>
			</div>
#{/if}

#{if flash.success}
			<div class="alert-message success fade in" data-alert="alert">
			  <a  class="close" href="#">x</a>
			  <p>${flash.success}</p>
			</div>
#{/if}

#{openebay/openebayrequest openebayrequest:openebayrequest/}






